docs/_build
example_doc/_build
example_doc/_webslides_build
*.pyc
*.egg-info
.vscode/*
!.vscode/launch.json
*_build
_webslides_builder
old_example_doc
build/**
sphinx_webslides_builder/themes/webslides_base/static/css/*
!google_fonts.css
sphinx_webslides_builder/themes/webslides_base/static/js/*